SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=avsmartechnology@gmail.com
SMTP_PASS=tfjizxradezfpngr
SMTP_FROM="AV SmartTech <avsmartechnology@gmail.com>"
CONTACT_TO=avsmartechnology@gmail.com
